.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

#cities {
  outline: rgb(22, 22, 145) ;
  font-size: large;
  color: rgb(39, 39, 161);
  padding: 5px;
  height: 40px;
  width: 250px;
  background-color: rgb(175, 175, 238);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.customers {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 50px;
}